body {
  justify-content: center;
  display: flex;
}
.btn {
  text-align: center;
}
.heading {
  justify-content: center;
  display: flex;
}
.title {
  margin-top: 50px;
}
.btnst {
    margin-top: 20px;
    background-color: black;
    color: white;
    border: black;
    padding: 10px;
    width: 150px;
}
.marginst {
  margin-top: 20px;
  text-align: center;
}
.inputst {
    width: 450px;
    padding: 10px;
    background-color: #9e9e9e38;
    border: none;
}
.addbtn {
    padding: 10px;
    border: none;
    background-color: darkgrey;
}
.title {
    text-align: center;
    margin: 100px 0px 50px 0px;
}
.parast {
    width: 400px;
    background-color: #9e9e9e38;
    padding: 10px;
}
.textbox {
  display: inline-flex;
  margin: 0px 100px 20px 100px;
}
.deletebtn {
    height: 45px;
    border: none;
    background-color: darkgrey;
}
.inputboxst {
  text-align: center;
  margin-bottom: 30px;
}